*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.bg-vid{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -3;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.glass{
    text-align: center;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 20rem;
    width: 25rem;
    margin: auto;
}