<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="bg-vid"><video class="bg-vid" src="/images/waterfall.mp4" autoplay loop muted plays-inline></video></div>
    <div class="glass">
        <% if(locals.data && locals.err){ %>
            <% if(err === false){ %>
                <h3>
                    <%= data.setup %>
                </h3>
                <p><%= data.delivery %></p>
            <% }else if(err === true){ %>
                <h3>
                    Joke with the specified string not found
                </h3>
                <% } %>
        <% }else{ %>
                <form action="/" method="POST">
                    <label for="name">Enter a name</label>
                    <input type="text" name="string">
                    <input type="submit">
                </form>
            <% } %>
    </div>
</body>
</html>